html{
    margin: 0;
    padding: 0;
}
*{  
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
p{
    font-size: 15px;
}

.padding{
    padding-left: 10em;
    padding-right: 10em;
    width: 100%;
}

.navbar,.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.mobile-nav{
    display: none;
}
.home{
    display: flex;
    padding-top: 3em;
    min-height: 65vh;
    background-image: url(images/desktop/image-hero.jpg);
    background-size: cover;
}
.nav-item{
    padding-right: 1.5em;
}
.underline{
    color: white;
    position: relative;
    text-decoration: none;
    padding-bottom: 10px;
    font-size: 17px;
}
.underline:hover{
    color: white;
    text-decoration: none;
}
.underline:after {   
     /*remove comments if error occurs , no effect as of now.*/
    /* background: none repeat scroll 0 0 transparent; */
    bottom: 0;
    content: "";
    /* display: block; */
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.underline:hover:after { 
    width: 60%; 
    left: 20%;
    right: 20%; 
}
.home-box{
    margin-top: 5%;
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    height: 50%;
    width: 50%;
    border: 2px solid white;
    padding-left: 2em;
    padding-top: 1em;  
    padding-right: 0.5em; 
}
h1{
    line-height: 1.1;
    font-size: 4vw;
}

/* About section */

.about-content{
    margin-top: 6em;
    margin-bottom: 6em;
    display: flex;
    position: relative;
}
.left-column{
    flex-basis: 60%;
}
.desktop-interactive{
    height:100%;
    width: 115%;
}
.mobile-interactive{
    display: none ;
}
.right-column{
    position: absolute;
    background-color: white;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 55%;
    flex-basis: 50%;
    padding: 3.5em 10em 0 3.5em;
}
 .h2{
    text-transform: uppercase;
    font-size: 3rem;
    padding-bottom: 0.5em;
}
.right-column p{
    color: gray;
    font-family: 'Alata', sans-serif;
    font-size: 110%;
}
/* creation section*/
.creation-heading .h2{
    padding-bottom: 0;
    margin-bottom: 0;
}
.creation{
    margin-bottom: 6rem;
}
.grid-image-mobile{
    display: none;
}
.creation-heading{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
}
.h2{
    text-transform: uppercase;
}

.creation-heading .btn{
    background-color: white;
    border: 1.5px solid black;
    border-radius: 0;  
}
.creation-heading a{
    font-family: 'Alata';
    color: black;
    font-size: 95%;
    padding: 0.8em 2em;
    letter-spacing: 3px;
}
.creation-heading a:hover{
    background-color: black;
    color: white;
}
.grid-image{
    width: 90%;
    height: 25rem;
}
.grid-image:hover{
    opacity: 50%;
    cursor: pointer;
    transition: 0.4s;
}
.creation-grid{
    display: grid;
    grid-template-columns: repeat(4,25.67%);
}
.images{
    position: relative;
    padding-bottom: 2rem;
}
.images h3{
    background-color: rgba(0,0,0,0.5);
    width: 90%;
    position: absolute;
    left: 0;
    bottom: 2rem;
    padding: 0.5em;
    color: white;
    text-transform: uppercase;
}
.mobile-btn{
    display: none;
}
/* Footer */
footer{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    display: flex;
    background-color: black;
}
.left-footer{
    flex-basis: 50%;
}
.left-footer img{
    padding-bottom: 1.5em;
}
.left-footer a{
    padding-right: 0.8em;
}
.right-footer{
    color: gray;
    flex-basis: 50%;
    text-align: right;
}
.social-media{
    padding-left: 1.5em;
    padding-bottom: 1.5em;
}
footer li{
    list-style: none;
    float: left;
}
footer ul{
    padding-left: 0;
}
.attribution{
    font-size: .8rem;
    background-color: rgb(22, 22, 22);
    color: white;
}
.attribution a{
    color: rgb(248, 166, 166);
}
/* Media Queries */
@media (max-width: 1024px){
    /* Home section */
    .padding{
        padding-left: 7em;
        padding-right: 7em;
    }
    .home{
        min-height: 50vh;
        background-position: right;
    }
    .home-box{
        height: 40%;
        padding-top: 0;
        margin-top: 15%;
        width: 65%;
    }
    h1{
        line-height: 1.2;
         font-size: 4vh;
    }
    /* About section */
    .right-column{
        font-size: 85%;
        width: 55%;
        padding-top: 2.5em ;
        padding-left: 2.5em;
    }
    .h2{
        font-size: 2.5rem;
        padding-bottom: 0.3em;
    }
    /* creation section */
    .grid-image{
        height: 20rem;
    }
}
@media (max-width:992px)  {
    .home{
        min-height: 65vh;
    }
    .home-box{
        margin-top: 5%;
        height: 40%;
        width: 70%;
    }

}
@media (max-width:768px) {
    .padding{
        padding-top: 3em;
        padding-left: 4em;
        padding-right: 4em;
    }
   
    .mobile-nav{
        display: block;
        height: 100vh;
        background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(images/mobile/image-hero.jpg);
        background-size: cover;
        position: relative;
    }
    .heading{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
    }
    .home-box{
        height: 35vh;
        width: 100%;   
    }
    h1{
        font-size: 6.5vh;
    }
    #mobile-menu{
        display: none;
        background-color: black;
        text-transform: uppercase;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        
    }
    .navigation{
        display: flex;
        justify-content: space-between;
    }
    .desktop-nav{
        display: none;
    }
    .navbar-nav{
        margin-top: 20%;
        display: flex;
        height: 60%;
        justify-content: space-evenly;
    }
    .navbar-nav a{
        font-size: 2rem;
        opacity: 70%;
    }
    /* About section */
    .about-content,.mobile-interactive{
        display: block;
    }
    .mobile-interactive{
        width: 100%;
    }
    .desktop-interactive{
        display: none;
    }
    .right-column{
        position: relative;
        background-color: white;
        width: 100%;
        padding: 2em 0 0 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .h2{
        font-size: 3.5rem;
        padding-bottom: 0.5em;
    }
    .right-column p{
        font-size: 140%;
        font-weight: 600;
    }
    /* Creation section */
    
    .grid-image{
        display: none;
    }
    .grid-image-mobile{
        width: 100%;
        display: block;
    }
    .creation-grid{
        
        display: block;
    }
    .creation-heading .h2{
        margin-left: auto;
        margin-right: auto;
    }
    .mobile-btn{
        display: block;
        background-color: white;
        border: 1.5px solid black;
        border-radius: 0;
        color: black;
        letter-spacing: 3px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        font-weight: 600;
    }
    .mobile-btn:hover{
        background-color: black;
        color: white;
    }
    .desktop-btn{
        display: none;
    }
    .images h3{
        width: 100%;
    }
    /* footer */
    footer{
        margin-left: auto ;
        margin-right: auto ;
        display: block;
        height: auto;
    }
    .left-footer,.right-footer{
        text-align: center;
        margin-bottom: 2em;
    }
   .social-media{
       padding-left: 2em;
   }
   footer li{
       float: none;
       padding-bottom: 1em;
       font-weight: 600;
   }

}
@media (max-width:576px) {
    .padding{
        padding-left: 2em;
        padding-right: 2em;
    }
    h1{
        font-size: 5vh;
    }
    .h2{
        font-size: 10vw;
    }
    .navbar-nav a{
        font-size: 1rem;
        opacity: 70%;
    }
    /* Creation */
    .grid-image-mobile{
        width: 100%;
    }
    .images h3{
        font-size: 4vw;
    }
    /* Footer */
    footer .underline{
        padding:1em;
    }
    .social-media{
        padding-left: 1.5em;
    }
}
